.menu{
    margin: 100px 0 50px;

}
.menu .title{ 
    padding: 0 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50% !important;
    margin: auto;
    text-align: center;
}

.menu .title h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Tilt Warp', cursive;

}
.menu .title h1 span{
    color: #feb600;
}
.menu .title p{
    font-size: 23px;
    font-weight: 300;
}

.menu .btn{
    width: 100%;
    margin: 50px 0;
}
.menu .btn button{
    background: #ffb600;
    color: #fff;
    padding: 8px 30px;
    border: 0;
    border-radius: 12px;
    font-size: 24px;
}
